.design-bg {
    background-color: #fff;
}

.design-conteudo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 160px 0px 80px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 106px;
}

.design-conteudo img {
    box-shadow: -40px -40px #272727;
    border-radius: 4px;
}

.design-texto {
    display: grid;
    gap: 24px;
}

.design-texto h2 {
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.design-texto p {
    font-size: 1rem;
}

.texto-bg {
    background-color: #272727;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
}


.design-texto a {
    color: 
    #272727;
}

.design-conteudo {
    padding: 160px 24px 80px 24px;
}

@media (max-width: 790px) {
    .design-conteudo {
        grid-template-columns: 1fr;
        padding: 40px 20px 40px 20px;
        gap: 10px;
    }

    .design-conteudo img {
        display: none;
    }

    .design-texto a {
        text-align: center;
    }
}