.orcamento-bg {
    background-color: #fff;
}

.orcamento-conteudo {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 0px;
    gap: 20px;
}

.orcamento-conteudo h2 {
    font-size: 2rem;
}

.orcamento-conteudo p {
    font-size: 1.125rem;
}

.orcamento-conteudo a {
    display: flex;
    border: 2px solid  #272727;
    padding: 12px 32px;
    text-decoration: none;
    color: #272727;
    transition: 0.3s ease;
    border-radius: 4px;
}

.orcamento-conteudo a:hover {
    background-color: #272727;
    color: #FFFFFF;
}


@media (max-width: 900px) {
    .orcamento-conteudo {
        padding:  80px 24px;
    }
} 


@media (max-width: 790px) {
    .orcamento-conteudo {
        padding: 80px 24px;
}
}